.site-header {
  font-family: Arial, sans-serif;
}

/* Navbar container */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2.5rem;
  padding: 1rem 2rem;
  background-color: var(--main-bg-color);
}

/* Logo section */
.nav-logo img {
  height: 30px;
}

/* Middle menu */
.nav-menu {
  display: flex;
  list-style: none;
  gap: 1.2rem;
}

/* Zoom-in effect for menu items*/
.nav-menu li {
  transition: transform 0.4s ease-in-out;
}

.nav-menu li:hover {
  transform: scale(1.1); /* zoom in by 10% */
}

.nav-menu a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-menu a:hover {
  color: var(--secondary-color);
}

/* Right section */
.nav-right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.nav-right input {
  padding: 3px 3px;
  border: none;
  border-bottom: 1px solid #888;
  outline: none;
  background-color: var(--main-bg-color);
}

.nav-right input:focus::placeholder {
  color: var(--secondary-color);
  font-style: italic;
}

.nav-right a {
  text-decoration: none;
  color: var(--primary-color);
}

.nav-right a:hover {
  color: var(--secondary-color);
}

.cart-icon {
  font-size: 1.4rem;
}

.nav-logo img {
  transition: all 0.4s ease-in-out;
  border-radius: 8px;
}
.nav-logo img:hover {
  filter: drop-shadow(0 0 50px var(--shadow-color)) drop-shadow(0 0 50px var(--shadow-color));
  transform: scale(1.1);
}

.cart-icon {
  position: relative;
  font-size: 1.5rem;
}

.cart-badge {
  position: absolute;
  top: -0.6rem;
  right: -0.6rem;
  background-color: crimson;
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  padding: 0.25rem 0.5rem;
  border-radius: 50%;
  opacity: 0.8;
  transition: transform 0.4s ease-in-out;
}

.cart-badge:hover {
  background-color: #7ee2a4;
  color: var(--primary-color);
  transform: scale(1.1);
}

/* @media (max-width: 1023px) {
  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 101;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
    padding-top: 3rem;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    list-style: none;
  }

  .sidebar li {
    width: 100%;
    padding: 5px 0;
    margin-left: 1rem;
  }

  .sidebar li:hover {
    background-color: #aeadad;
  }

  .sidebar a {
    width: 100%;

    text-decoration: none;
    color: #333;
  }

  .nav-close {
    position: absolute;
    top: 10px;
    right: -10px;
  }
} */

/* Tablet */

@media (min-width: 768px) {
}

/* Desktop */
@media (min-width: 1024px) {
}

@media (max-width: 768px) {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .nav-menu li:not(.sidebar-open),
  .nav-right > :not(.cart-icon) {
    display: none;
  }

  .nav-menu {
    order: -1;
  }

  .sidebar {
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 200px;
    z-index: 101;
    background-color: rgba(255, 255, 255, 0.5);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10px);
  }

  .sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 100;
  
  }

  .sidebar > ul {
    list-style: none; 
   
  }

  .sidebar li:not(.nav-close) {
    padding: 0.75rem;
    background:linear-gradient(to left, #7ee2a4 100%, transparent 0%) no-repeat center / 0% 0%;    
    transition: background-size 0.2s ease;    
  
  
  }

  .sidebar li:not(.nav-close):hover {
    background-size: 100% 100%; 
    /* background-color: #7ee2a4; */
  }

  .sidebar a {
    text-decoration: none;
    color: var(--primary-color);
    }

  .nav-close {
    padding: 0.25rem 0.5rem;
    background:linear-gradient(to left, #7ee2a4 100%, transparent 0%) no-repeat center / 0% 0%;    
    transition: background-size 0.5s ease;    
   
  }  

  .nav-close:hover {  
    background-size: 100% 100%; 
   
  }

  .nav-close svg {
    fill: var(--primary-color);
    transition: transform 0.5s ease, fill 0.5s ease;
    
   
  }

  .nav-close:hover svg {
    transform: rotate(90deg);
    fill: initial;
  } 
}



  /*   .sidebar li {
    width: 100%;
    padding: 5px 0;
    margin-left: 1rem;
  }

  .sidebar li:hover {
    background-color: #aeadad;
  }

  .sidebar a {
    width: 100%;

    text-decoration: none;
    color: #333;
  }

   */
}
